doctype html
html
  head
    title Martijn Casteel
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Merriweather:400,300,700')

  body.container
    a(href='/').profile
      img(src='images/profile.jpg')

    block content
