doctype html
html
  // 
    TODO: add funny comment of something completely irrelevant. 
         Perhaps something about myself or my awesome new website https://martijncasteel.com, 
         or about coffee, coffee is always good! 
  // MIT license; https://github.com/martijncasteel/marked-paper
  
  block vars

  head
    if title
      title Martijn Casteel | #{title}
    else
      title Martijn Casteel

    meta(name='description' content='Well about me, Martijn Casteel, at easy as that! A lone writer, writing about some thrilling encounters mainly in IT. First exciting point to elaborate; Who am I?')

    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(charset='utf-8')

    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Merriweather:400,300,700')

    script(src='https://code.jquery.com/jquery-2.2.3.min.js', integrity='sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=', crossorigin='anonymous', async)

  body.container
    a(href='/').profile
      img(src='/images/profile.jpg', alt='profile')

    block content
