%article
  %h1 What is it about?
  %p
    Well about me,
    = succeed ',' do
      %strong Martijn Casteel
    as easy as that!

  %p A lone writer, writing about some thrilling encounters mainly in IT. First exciting point to elaborate; Who am I? Quoted from a strange movie with Jackie Chan. Well I'm not that old (yet) and I do like programming.

  %p
    I'm an IT guy, I've
    = link_to 'https://nl.linkedin.com/in/martijncasteel' do
      studied
    Computer Science and Technical Artificial Intelligence. The latter is quite long and I have to explain it every time, so the short version is I'm building Jarvis
    and Sonny.

  %p I like watching movies among many other hobbies you may, or may not, find out reading my blog!

  %hr
